// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Courier;
    color: #353960;
    text-decoration: none;
    text-align: center;
}
